@charset "utf-8";
* {
    box-sizing: border-box;
}
html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
em,
button {
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    font-size: 14px;
    color: #333;
    background-color: #f8f9fb;
    font-family: "微软雅黑";
}
a{
    text-decoration: none;
}
.clear {
    *zoom: 1;
}
.clear:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
em,i{
    font-style: normal;
}
.animate{
    position: relative;
}
.none{
    display: none;
}
/*----------------------------------------------------------------*/
.nav{
    width: 100%;
    height: 95px;
    position: fixed;
    z-index: 99;
    top:0;
    left: 0;
    background: rgba(0,0,0,0.4);
}
.navcen{
    width: 1200px;
    height: 100%;
    margin:0 auto;
    position: relative;
}
.logo{
    float: left;
}
.cnav{
    float: left;
    width: 750px;
    height: 85px;
    margin: 10px 0 0 160px;
    position: relative;
}
.cnav li{
    float: left;
    height: 100%;
    line-height: 85px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    font-size: 20px;
    position: relative;
    z-index: 10;
}
.cnav li .nava{
    color: #fff;
    display: block;
    padding: 0 31px;
    text-align: center;
    position: relative;
}
.cnav .active{
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    background: #ffde00; 
}
.cnav .active .nava{
    color: #000;
}
.cnav .active::after{
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    top:81px;
    background: #d5b900; 
}
.cnav li dl{
    display: none;
}
.cnav li:hover dl{
    display: block;
}
.weixin{
    width: 27px;
    height: 20px;
    position: absolute;
    background: url(../img/c617-hj.png) 
        no-repeat 0 0;
    top:43px;
    left: 1110px;
}
.weixinimg{
    position: relative;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    display: none;
}
.weixin:hover .weixinimg{
    display: block;
}
.weixinimg img{
    width: 129px;
    height: auto;
    display: block;
    position: absolute;
    top:54px;
    left: -44px;
}
.cnav ul li dl{
    position: absolute;
    top:85px;
    left:0;
    line-height: 40px;
    width: 100%;
    height: auto;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    overflow: hidden;
    padding-bottom: 9px;
    background: rgba(255,222,0,0.7);
}
.cnav ul li dl dd{
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    /*background: #ffde00;*/
}
.cnav ul li dl dd a{
    display: block;
    color: #000;
    width: 100%;
    text-align: center;
}
.cnav ul li dl dd:hover{
    background: rgba(255,222,0,1)
}
.cnav ul li dl dd:hover a{
    color: #000;
}
/*---------------------------------------------------------nav end*/
html,body,.cen,.cen .cena{
    width: 100%;
    height: 100%;
}
html,body{
    overflow: hidden;
}
.cen{
    position: relative;
    left:0;
    top:0;
}
.cen1{
    background: url(../img/one-bj.jpg) no-repeat center;
    background-size: auto 100%;
}
.cen2{
    background: url(../img/two-bj.jpg) no-repeat center;
    background-size: auto 100%;
}
.cen3{
    background: url(../img/three-bj.jpg) no-repeat center;
    background-size: auto 100%;
}
.cen4{
    background: url(../img/four-bj.jpg) no-repeat center;
    background-size: auto 100%;
}
.cen5{
    background: url(../img/five-bj.png) no-repeat center;
    background-size: auto 100%;
}
.cen6{
    background: url(../img/six-bj.png) no-repeat center;
    background-size: auto 100%;
}
.cen7{
    background: url(../img/seven-bj.png) no-repeat center;
    background-size: auto 100%;
}
.cen8{
    background: #dadada;
}
.cena{
    overflow: hidden;
    position: relative;
}
.dia{
    width: 20px;
    height: 100%;
    position: fixed;
    z-index: 3;
    top:0;
    right:0;
}
.dia span{
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    -ms-border-radius: 50%;
    margin:5px 0;
    background: #000;
    opacity: 0.2;
    filter:alpha(opacity=20);
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    cursor: pointer;
}
.dia span.active{
    opacity: 0.8;
    filter:alpha(opacity=80);
    background: #007aff;
    width: 12px;
    height: 12px;
    position: relative;
    left:-2px;
}
.dia span.active:hover{
    opacity: 0.8;
    filter:alpha(opacity=80);
    background: #007aff;
    width: 12px;
    height: 12px;
    position: relative;
    left:-2px;
}
.dia span:hover{
    width: 10px;
    height: 10px;
    position: relative;
    left:-1px;
    opacity: 0.5;
    filter:alpha(opacity=50);
    background: #007aff;
}
.cen-cen{
    width: 12rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.cen1bt{
    width: 100%;
    height: 1.95rem;
    margin-top: 2.95rem;
    text-align: center;
}
.cen1bt span{
    font-size: 0.6rem;
}
.cen1bt p{
    padding-top: 0.05rem;
    font-size: 0.8rem;
    font-weight: bold;
}
.cen1cen{
    line-height: 0.58rem;
    height: 1.70rem;
    font-size: 0.28rem;
    margin-top: 0.05rem;
    font-weight: 100;
    padding-left: 3.85rem;
}
.cen1cen em{
    font-weight: bold;
    margin-right: 0.05rem;
}
.cen1start{
    width: 100%;
    height: 0.65rem;
    text-align: center;
    margin-top: 0.2rem;
}
.cen1start img{
    width: auto;
    height: 0.65rem;
}
.cen1mouse{
    position: absolute;
    left: 10.80rem;
    top:5.84rem;
    width:1.38rem;
    height: auto;
}
.cen1mouse img{
    width: 100%;
    height: auto;
}
.cen1keyboard{
    position: absolute;
    left: 2.06rem;
    top: 7.55rem;
    width: 4.89rem;
    height: auto;
}
.cen1keyboard img{
    width: 100%;
    height: auto;
}
.cen1mouse img{
    width: 100%;
    height: auto;
}
.cen1pad{
    position: absolute;
    left: 7.36rem;
    top: 7.55rem;
    width: 2.65rem;
    height: auto;
}
.cen1pad img{
    width: 100%;
    height: auto;
}
.cen1mouse img{
    width: 100%;
    height: auto;
}
.cen2cen{
    width: 2.23rem;
    height:auto;
    position: relative;
    top:3.87rem;
    left:7.76rem;
}
.cen2cen div{
    width: 100%;
    height: auto;
}
.cen2cen div img{
    width: 100%;
    height: auto;
}
.cen2imgb,.cen2imgc{
    position: absolute;
    top:0;
    left: 0;
}
.cen2cen p{
    width: 100%;
    text-align: center;
    font-size: 0.2rem;
    color: #929292;
    padding-top: 0.1rem;
}
.cen3img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../img/cen3bj.png) no-repeat center;
    background-size: cover;
}
.cen3cen{
    width: 5.69rem;
    height: 3.11rem;
    line-height: 0.46rem;
    font-size: 0.35rem;
    color: #ffffff;
    position: relative;
    top:3.1rem;
    left: 6.2rem;
}
.cen3cen em,.cen3cen span{
    display: block;
    width: 100%;
    height: auto;
}
.cen3cen em{
    font-size: 0.25rem;
    line-height: 0.36rem;
    margin-top: 0.5rem;
    font-family: "宋体";
}
.cen4c1,.cen4c2,.cen5c1{
    width: 6.7rem;
    height: 2.54rem;
    background: url(../img/cen4cenk.png) no-repeat;
    background-size: 100% auto;
    padding:0.21rem;
}
.cen4c1 em,.cen4c2 em,.cen5c1 em{
    font-size: 0.24rem;
    color:#fe3563;
    display: block;
    margin:0.06rem 0 0.15rem 0.38rem;
}
.cen4c1 p,.cen4c2 p,.cen5c1 p{
    line-height: 0.3rem;
    font-size: 0.16rem;
    color: #5d5d5d;
    text-indent: 2em;
}
.cen4c1{
    margin-top: 2.33rem;
}
.cen4c2{
    margin-top: 0.58rem;
}
.cen4c1 .animate,.cen4c2 .animate{
    position: relative;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
}
.cen5c1{
    margin: 1.56rem 0 0 4.88rem;
}
.cen5img{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../img/jianzhu.png) no-repeat center;
    background-size: auto 100%;
}
.cen4ph{
    position: absolute;
    top:2.5rem;
    left:6.92rem;
    width: 5.88rem;
    height: 5.89rem;
}
.cen4phimg{
    position: relative;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.cen4phimg img{
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    top: 0;
}
.cen5ci{
    height: 3.59rem;
    width: 7rem;
    position: relative;
    margin-top: 0.7rem;
}
.cen5ci span{
    width: 2.13rem;
    text-align: center;
    font-size: 0.257rem;
    color: #3178a1;
    font-weight: bold;
    left: 0;
    top:1.4rem;
    display: block;
    position: absolute;
}
.cen5cimg{
    position: relative;
    top:0;
    left: 1.4rem;
    width: 1.54rem;
    height: 100%;
}
.cen5cimg img{
    width: 100%;
    height: auto;
    position: absolute;
    top:0;
    left: 0;
}
.cen5text{
    font-size: 0.19rem;
    color: #3178a1;
    position: absolute;
    font-weight: bold;
    font-size: 0.24rem;
    width: 8rem;
}
.cen5text em{
    font-weight: bold;
    margin-right: 0.04rem;
}
.cen5text1{
    top:-0.26rem;
    left:2.15rem;
}
.cen5text2{
    top:0.5rem;
    left:2.85rem;
}
.cen5text3{
    top:1.6rem;
    left:3.05rem;
}
.cen5text4{
    top:2.72rem;
    left:2.85rem;
}
.cen5text5{
    top:3.5rem;
    left:2.15rem;
}
.cen6bt{
    width: 100%;
    text-align: center;
    color: #4a4a4a;
    font-size: 0.35rem;
    margin-top: 2.12rem;
    position: relative;
    font-weight: bold;
}
.cen6bt span{
    background: url(../img/dixian.png) no-repeat center bottom;
    background-size: 100% auto;
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    top:0.65rem;
    left:0;
}
.cen6cimg{
    width: 4.76rem;
    height: 4.31rem;
    position: relative;
    margin: 0.6rem auto 0;
}
.cen6cimg img{
    width: 100%;
    height: auto;
    position: absolute;
    top:0;
    left:0;
}
.cen6text{
    position: absolute;
    line-height: 0.2rem;
    font-size: 0.14rem;
    width: 2rem;
}
.cen6text em{
    font-size: 0.2rem;
    font-weight: bold;
    display: block;
    height: 0.29rem;
}
.cen6text1{
    top:1.1rem;
    left: 2rem;
    text-align: right;
}
.cen6text2{
    top:1.1rem;
    left: 8rem;
}
.cen6text3{
    top:2.88rem;
    left: 8.9rem;
}
.cen6text4{
    top:4.8rem;
    left: 8.05rem;
}
.cen6text5{
    top:4.8rem;
    left: 1.95rem;
    text-align: right;
}
.cen6text6{
    top:2.88rem;
    left: 1.08rem;
    text-align: right;
}
.cen7bt{
    width: 100%;
    height: 0.5rem;
    line-height: 0.5rem;
    color:#4a4a4a;
    font-weight: bold;
    margin-top: 1.69rem;
    text-align: center;
    font-size: 0.35rem;
    position: relative;
}
.cen7bt em{
    color:#e50036;
}
.cen7bt span{
    background: url(../img/dixian.png) no-repeat center bottom;
    background-size: 100% auto;
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    top:0.65rem;
    left:0;
}
.cen7cimg{
    width: 4.58rem;
    height: 5.37rem;
    margin-top: 0.83rem;
}
.cen7cimg img{
    width: 100%;
    height: auto;
}
.cen7gn{
    position: absolute;
    left: 6rem;
    top: 2.65rem;
}
.cen7gn div{
    width: 0.9rem;
    height: 6.4rem;
    float: left;
}
.cen7gn div em{
    width: 100%;
    height: 0.9rem;
    display: block;
    overflow: hidden;
}
.cen7gn div em img{
    width: 100%;
    height: auto;
}
.cen7gn div p{
    display: block;
    width: 100%;
    height: 0.4rem;
    line-height: 0.4rem;
    text-align: center;
    font-size: 0.18rem;
}
.cen7gn div.cen7gn2{
    margin-left: 0.6rem;
    padding-top: 0.8rem;
}
.cen7gn2 em{
    margin-top: 0.7rem;
}
.cen7gn3{
    margin-left: 1.7rem;
}
.cen7gn3 em{
    margin-top: 0.61rem;
}
.cen7about a{
    width:100%;
    line-height: 0.17rem;
    font-size: 0.16rem;
    color: #1f1a17;
    text-align: center;
    margin-top: 0.56rem;
    display: block;
    background: url(../img/dixian2.png) no-repeat center;
    background-size: 100% auto;
    letter-spacing: 0.02rem;
}
.cen7about em{
    font-size: 0.2rem;
    display: block;
    letter-spacing: 0.04rem;
    font-weight: bold;
    position: relative;
    left: 0.02rem;
}
.cen-cen8{
    width: 1200px;
}
.about{
    position: relative;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
}
/*.aboutbj{
    width: 100%;
    height: 100%;
    background: #000;
    top:0;
    left: 0;
    position: absolute;
    z-index: 1;
    opacity:0.4; 
    filter:alpha(opacity=40);
}*/
.aboutcen{
    z-index: 2;
    position: relative;
    margin:1.6rem auto 0;
    /*background: url(../img/about.png) no-repeat;
    background-size: 100% auto;*/
    width: 100%;
    height: 4.91rem;
}
.aboutnone{
    position: absolute;
    top:14.5px;
    left: 870px;
    width: 10px;
    height: 10px;
    cursor: pointer;
}
.aboutbt{
    width: 60%;
    height: 85px;
    text-align: center;
    line-height: 90px;
    margin:0 auto;
    font-size: 35px;
    color: #4a4a4a;
    font-weight: bold;
    border-bottom:1px solid #999;
}
.aboutl{
    background: #333;
    width: 596px;
    height: 350px;
    float: left;
    margin:45px 0 0 104px;
    overflow: hidden;
    border:1px solid #999;
}
.aboutl iframe{
    position: relative;
    top:-31px;
    left: -1px;
}
.aboutr{
    width: 350px;
    height: 298px;
    float: left;
    margin:80px 0 0 54px;
    color: #4a4a4a;
    font-size: 16px;
}
.aboutr p{
    margin-top: 40px;
}
.aboutr p em{
    display: inline-block;
    width: 280px;
    height: 50px;
}
.aboutr p span{
    display: block;
    float: left;
    height:50px;
}
.ani0{
    transition-duration:0s;
    transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    -ms-transform:rotate(0deg);
}
.ani360{
    transition-duration:2s;
    transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    -ms-transform:rotate(360deg);
}
.gdtishi{
    position: fixed;
    width: 100%;
    height: 0.5rem;
    left: 0;
    top:100%;
}
.gdtishi img{
    position: relative;
    top:-0.5rem;
    height: 100%;
    width: auto;
    margin:0 auto;
    display: block;
    cursor: pointer;
}
.video{
    position: fixed;
    z-index: 101;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background: rgba(0,0,0,0.6);
}
.vidcol em{
    position: absolute;
    top:0;
    left: 0;
    opacity: 0;
    filter:alpha(opacity=80);
}
.video .vida{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.vidcol{
    position: relative;
    width: 12.8rem;
    height: auto;
    top:1rem;
    margin: 0 auto;
    z-index: 3;
    display: block;
}
.video video{
    width: 100%;
    height: auto;
    border:0.05rem solid #333;
}
.vidcolimg{
    width: 0.2rem;
    height:0.2rem;
    display: block;
    position: absolute;
    top:0;
    left: 100%;
    cursor: pointer;
    background: #333;
}
.vidcolimg img{
    width: 0.15rem;
    height: 0.15rem;
    margin:0 auto;
    position: relative;
    display: block;
    top:0.025rem;
}
.zxkftab{
    width:33px;
    height: 100%;
    position: fixed;
    top:0;
    left: 0;
    z-index: 99;
    border:none;
}
.zxkf{
    width: 33px;
    height: 155px;
    background: url(../img/zxkfbj.png) no-repeat;
    position: relative;
    left: -2px;
}
.zxkf img{
    position: relative;
    top:0;
    left: 0;
    display: block;
}
.zxkfcen{
    width: 136px;
    height: auto;
    position: absolute;
    top:-5px;
    left:-136px;
    background: url(../img/zxkftop.png) no-repeat;
    padding-top: 32px;
}
.zxkfcen span{
    display: block;
    background: #fbfbfb;
    width: 100%;
    height: 33px;
    line-height: 33px;
    text-align: center;
    border-top: 1px solid #c8c8c8;
}
.zxkfcen span a{
    color: #333;
}
.zxkfcen span a:hover{
    font-weight: bold;
}
.zxkfcen em{
    display: block;
    width: 100%;
    height: 27px;
    background: url(../img/zxkfbottom.png) no-repeat;
    text-align: center;
    line-height: 27px;
    color: #fff;
}
.zxkfcen i{
    background: #fbfbfb;
    width: 100%;
    display: block;
    height: 5px;
}
